@font-face {
    font-family: SeatMetBolRom;
    src: url(../fonts/SEATMNR.TTF);
}

html {
-ms-touch-action: none;
background-image: url("../img/seataltea.jpg");
}
* {
-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
color:#777777;   
font-family: SeatMetBolRom;   
font-weight: normal;
}
i.fa.fa-times.closeInteres {
  color: #fff;
  font-size: -webkit-xxx-large;
  /* float: right; */
  right: 7px;
  position: absolute;
}
.headerLogo {
  background-image: url(../img/headerlogo.png);
  /* background-repeat: no-repeat; */
  height: 52px;
  /* background-color: #C9282E; */
  position: fixed;
  width: 100%;
    z-index: 9;
  -webkit-box-shadow: 6px 2px 49px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 2px 49px -16px rgba(0,0,0,0.75);
  box-shadow: 6px 2px 49px -16px rgba(0,0,0,0.75);
}
.numVideo {
  position: absolute;
  font-size: xx-large;
  color: rgb(255, 255, 255);
  margin-top: 35px;
  margin-left: 8px;
}
span.marg {
    margin-left: 20px;
    color: rgb(142, 142, 142);
}
.ico {
  width: 28px;
  color: #fff;
}
i.fa.fa-tachometer.telemetry {
  font-size: 124px;
  left: -34px;
  position: relative;
}
div#dis {
  position: relative;
  color: rgb(19, 19, 19);
  left: 10px;
  top: 39px;
}
.menuInteriorActivo {

  background-color: #C9282E;

}

.esperandoAnime {
  position: absolute;
  z-index: 9999999999999999999999999999999999999999;
  fill: white;
  width: 100%;
  height: 100%;
  align-content: center;
}
a:link {
color: #313131;
text-decoration: none;
}
a:visited {
text-decoration: none;
color: #313131;
}
a:hover {
text-decoration: none;e
color: #313131;
}
a:active {
text-decoration: none;
color: #313131 ;
}
.separador {
height: 8px;
background-color: brown;
}
.spaceTExt {
  position: relative;
  top: 11px;
}
.compartir.btnGPSsun {
  position: relative;
  background-color: rgb(116, 194, 234);
  width: 18%;
  right: 0px;
  float: left;
  height: 45px;
  top: -1px;
  z-index: 9;
  -webkit-box-shadow: -4px 7px 51px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 7px 51px -13px rgba(0,0,0,0.75);
  box-shadow: -4px 7px 51px -13px rgba(0,0,0,0.75);
}
.btnGPS {
  color: rgb(55, 55, 55);
  float: left;
  width: 19%;
  background-color: aliceblue;
  height: 45px;
  font-size: inherit;
  font-variant-ligatures: inherit;
  top: -1px;
  position: relative;
  -webkit-box-shadow: -23px 26px 61px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: -23px 26px 61px -17px rgba(0,0,0,0.75);
  box-shadow: -23px 26px 61px -17px rgba(0,0,0,0.75);
}
.btnGPSver {
  color: rgb(55, 55, 55);
  float: left;
  width: 20%;
  background-color: aliceblue;
  height: 45px;
  font-size: inherit;
  font-variant-ligatures: inherit;
  top: -1px;
  position: relative;
  -webkit-box-shadow: -23px 26px 61px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: -23px 26px 61px -17px rgba(0,0,0,0.75);
  box-shadow: -23px 26px 61px -17px rgba(0,0,0,0.75);
}
.compartir.btnGPSver .spaceTExt{
   position: relative;
  top: 8px;
}
.compartir.btnGPS .spaceTExt{
  position: relative;
  top: 8px;
}
.compartir.btnGPSsun.share .spaceTExt{
  position: relative;
  top: 8px;
}
.initgps {
  color: rgb(55, 55, 55);
  float: left;
  width: 42%;
  background-color: aliceblue;
  height: 40px;
  padding-top: 5px;
  font-size: inherit;
  font-variant-ligatures: inherit;
  top: -1px;
  position: relative;
  -webkit-box-shadow: -23px 26px 61px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: -23px 26px 61px -17px rgba(0,0,0,0.75);
  box-shadow: -23px 26px 61px -17px rgba(0,0,0,0.75);
}
.pie {
  position: fixed;
  background-color: #C9282E;
  height: 50px;
  width: 100%;
  bottom: -4px;
  border-top: 6px solid rgb(187, 190, 193);
  left: 0;
  z-index: 9999;
  -webkit-box-shadow: -1px -2px 35px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -2px 35px -12px rgba(0,0,0,0.75);
  box-shadow: -1px -2px 35px -12px rgba(0,0,0,0.75);

}
.identi {
float: left;
margin-left: 10%;
top: 16px;
position: relative;
color: crimson;
}
.logoHomeSeat {
  position: absolute;
  background-color: #fff;
  top: 55%;
  width: 60%;
  left: 0;
  height: 128px;
}
.pieLOgin {
position: fixed;
background-color: rgb(19, 19, 19);
height: 55px;
width: 100%;
bottom: 0;
z-index: 9999;
left: 0;
border-bottom: 4px solid #99CC33;
-webkit-box-shadow: -1px -2px 35px -12px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -2px 35px -12px rgba(0,0,0,0.75);
box-shadow: -1px -2px 35px -12px rgba(0,0,0,0.75);
}

span.lineaRoja {
  width: 7px;
  background-color: rgb(231, 16, 57);
  position: absolute;
  height: 39px;
  z-index: 99999999999;
  right: 0px;
  top: 0px;
}
div.idm {
  border-right: 8px solid #C9272C;
  margin-bottom: 8px;
  width: 41%;
  font-size: larger;
  padding-left: 47px;
}
div.menuInterior {
  border-right: 8px solid rgb(231, 16, 57);
  margin-bottom: 2px;
  width: 41%;
  font-size: larger;
  padding-left: 47px;
}

.es {
  padding: 10px;
  color: #666;
  background-color: #fff;
  top: 50%;
}
.en {
  left: 0px;
  padding: 10px;
  color: #666;
  background-color: #fff;
}
.fr {
  left: 0px;
  padding: 10px;
  color: #666;
  background-color: #fff;
}
.it {
  left: 0px;
  padding: 10px;
  color: #666;
  background-color: #fff;
}
.gr {
  left: 0px;
  padding: 10px;
  color: #666;
  background-color: #fff;

}
.pr {

  left: 0px;
  padding: 10px;
  color: #666;
  background-color: #fff;

}
#mapa
{
border-bottom: 4px solid #99CC33;
-webkit-box-shadow: -1px 1px 32px -11px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 32px -11px rgba(0,0,0,0.75);
box-shadow: -1px 1px 32px -11px rgba(0,0,0,0.75);
}
.splash {
position: fixed;
background-image:url(../img/SPLASH.jpg);
background-size:cover;   
width: 100%;
height: 100%;
z-index: 9999999999;
top: 0;
left: 0;
}
.atras
{
    width: 201px;
  height: 103px;
  height: 46px;
  top: 0px;
  position: absolute;
}

.idiomaSelector {
position: fixed;
background-color: white;
width: 100%;
height: 100%;
z-index: 9999999999;
top: 0;
left: 0;
}

i.fa.fa-chevron-left.colorArr {
  color: aliceblue;
  margin-top: 18px;
  margin-left: 7px;
  /* fill: chartreuse; */
  color: rgb(139, 139, 139);
}


.loaderMov {
width: 84px;
height: 84px;
position: absolute;
bottom: 163px;
right: 37%;
margin: -30px 0 -30px 0;
border-radius: 50%;
border: 8px solid rgba(252, 252, 252, 0);
border-top-color: #F7F7F7;
border-bottom-color: #F2F2F2;
-webkit-animation: animation 1000ms linear infinite both;
animation: animation 1000ms linear infinite both;
}

.loader {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 7%;
  right: 3%;
  margin: -30px 0 -30px 0;
  border-radius: 50%;
  border: 5px solid rgba(252, 252, 252, 0);
  border-top-color: #F7F7F7;
  border-bottom-color: #F2F2F2;
  -webkit-animation: animation 1000ms linear infinite both;
  animation: animation 1000ms linear infinite both;
}
.loader2 {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 35px;
  right: 29px;
  margin: -30px 0 -30px 0;
  border-radius: 50%;
  border: 5px solid rgba(252, 252, 252, 0);
  border-top-color: #F7F7F7;
  border-bottom-color: #F2F2F2;
  -webkit-animation: animation 1000ms linear infinite both;
  animation: animation 1000ms linear infinite both;
}

.btn {
  width: 86%;
  position: fixed;
  bottom: 24%;
  left: 7%;
}
.menuBar {
 height: 1px;
top: 0px;
position: relative;
opacity: 0.3;
filter: alpha(opacity=30);
}

.esperando {
  width: 100%;
  height:100%;
  background-color: rgb(19, 19, 19);
  z-index: 999999999999999;
  position: fixed;
  top: 0;
  /* bottom: 0; */
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.version {
color: white;
font-size: x-small;
top: 10px;
left: 10px;
position: absolute;
}
#home{
 color:#333;  
}

.BtonTelemetria {
  background-color: rgb(200, 24, 24);
  padding: 12px;
  padding-left: 18px;
  margin: 13px;
  font-size: large;
  /* top: 32%; */
  /* margin-top: 0%; */
  left: -18%;
  position: relative;
  /* float: right; */
  width: 90%;
}
span.txtTelemetri {
  font-size: x-large;
}
.BtonInvitado.btnHome {
background-color: brown;
color: whitesmoke;
}
.btnHome {
  background-color: white;
  padding: 11px;
  margin: 13px;
  font-size: large;
  /* top: 32%; */
  /* margin-top: 0%; */
  /* left: 14%; */
  position: relative;
  /* float: right; */

}
.circulo
{
width:80px;
height:80px;
border: 1px solid grey;
margin: 0;
padding: 0;
border-radius: 900px;
overflow: hidden;
}
img#logo {
position: relative;
width: 70px;
top: 20px;
}

.bar {
position: fixed;
  background-repeat: no-repeat;
  background-image: url(../img/headerlogo.png);
height: 26px;
background-color: #C9282E;
width: 100%;
padding: 10px;
font-size: larger;
color: #fff;
-webkit-box-shadow: 0px 2px 26px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 26px -8px rgba(0,0,0,0.75);
box-shadow: 0px 2px 26px -8px rgba(0,0,0,0.75);}


.info {
-webkit-box-shadow: 0px 2px 26px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 26px -8px rgba(0,0,0,0.75);
box-shadow: 0px 2px 26px -8px rgba(0,0,0,0.75);
height: 200px;

}

body > section.contenido > div.bar.barColor > a > i {
    color: #818181;
}

.button-bar__button {
float: left;
-moz-border-radius: 11px 11px 11px 11px;
width: 50%;
background-color: rgb(10, 10, 10);
height: 54px;
/* padding: 8px; */
}
.divocultoGPS {
   position: relative;
   top: -5px
}

.logo {
  margin-top: 10%;
  
}
.descargaFicha {
padding: 10px;
background: rgb(19, 19, 19);
width: 65%;
/* top: 20px; */
/* position: relative; */
}
.wsContenido{
overflow: auto;
}
div#noconexion {
font-size: x-large;
color: white;
position: absolute;
top: 39%;
margin: 20px;
text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}
.texloading {
  position: absolute;
  width: 78%;
  top: 77px;
  margin-top: 70px;
  left: 11%;
  color: #333333;
  text-shadow: rgba(252, 252, 252, 0.4) 0px 1px 0px;
  font-size: large;
}
.contenidoCOnten {
height: 100%;
position: absolute;
width: 100%;
}
div#nameEvent {
  /* font-size: x-large; */
  margin: 12px;
  font-weight: 800;
  top: 4px;
  font-family: sans-serif;
  position: relative;
  /* margin-left: 46px; */
  font-size: 19px;
  z-index: 0;
  color: #7B7B7B;
}
div#nameUser {
    font-style: italic;
    position: relative;
    top: 6px;
}

i.fa.fa-share-alt.super {
font-size: x-large;
color: rgb(143, 163, 85);
left: 10px;
top: 10px;
position: relative;
}
div#nameMedio {
position: relative;
top: 10px;
}


.textMenuInterior {
font-size: x-large;
 color: white;
left: 30px;
position: relative;
}

.bothome {
  padding: 10px;
width: 90%;
}
.videowelcome {
  width: 42%;
  background-color: #4f575d;
  padding: 10px;
  float: right;
   font-size: 15px;
  text-align: center;
  color: #ffffff;
  min-height: 25px;
  margin-bottom: 20px;
  padding-top: 15px;
}

.agendawelcome {
  width: 42%;
  background-color: #4f575d;
  padding: 10px;
  float: left;
   font-size: 15px;
  text-align: center;
   min-height: 25px;
  padding-top: 15px;
  margin-left: 3%;
  margin-bottom: 20px;
  color: #fff;
}

#layerFoto {
  background-color: #ffffff;
  position: absolute;
}
.cerrarway {
  color: #333333;
  text-align: right;
  padding-right: 10px;
}
.tituloway {
color: #333;
  width: 70%;
  padding: 10px;
  float: left;
}
#layerFoto > div.fotoway > img {
  width: 100%;
}
.fotoway {}
.cerrarway {  width: 19%;
  float: right;}
  .gpsway {
  position: relative;
  top: -220px;
  float: left;
  background-color: #333;
  padding: 10px;
}
.iniciarGPS.btnGPS.initgps {
  width: 40%;
}


i.fa.fa-share-alt.descrip {
position: relative;
top: -95px;
left: 19px;
font-size: x-large;
}
input[type="text"] {
padding: 12px;
width: 72%;
margin: 11px;
border: 1px solid rgb(208, 208, 208);
}
input[type="password"] {
padding: 12px;
width: 72%;
margin: 11px;
border: 1px solid rgb(208, 208, 208);
}
.login {
top: 77px;
padding: 10px;
position: relative;
}
i.fa.menu {
font-size: x-large;
left: 28%;
position: relative;
}

i.fa.fa-chevron-right.m {
   color: rgb(0, 0, 0);
    float: right;
    font-size: smaller;
    position: relative;
    right: 1px;
    top: -14px;
    display: none;
}
div#descripcion {
  position: relative;
  top: 17px;
  margin: 3px;
  left: 3%;
  /* right: 10%; */
  margin-right: 7%;
  margin-bottom: 130px;
  clear: both;
  font-size: small;
  color: rgb(132, 132, 132);
}

div#Recomendar {
position: relative;
left: 0px;
top: 0px;
background-color: rgb(19, 19, 19);
padding: 8px;
color: white;
z-index: -1;
}
.button-barcontenido-a-centrar {
  display: table-cell;
  vertical-align: middle;
  font-size: larger;
  color: rgb(92, 92, 92);
  float: left;
  padding: 15px;
  left: 6%;
  position: relative;
}
#countdown {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  height: 100px;
  position: absolute;


  top: -90px;

  z-index: 999999999999999;
  color: white;
  font-size: 5em;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
#countdown.puffer {
-webkit-opacity: 0;
-moz-opacity: 0;
opacity: 0;
-webkit-transform: scale(1.6, 1.6);
-moz-transform: scale(1.6, 1.6);
-ms-transform: scale(1.6, 1.6);
-o-transform: scale(1.6, 1.6);
-webkit-transition: all 0.4s ease-out;
-moz-transition: all 0.4s ease-out;
-ms-transition: all 0.4s ease-out;
-o-transition: all 0.4s ease-out;
}
/* LESS Mixins */
svg {
  width: 70%;
  height: 70%;
  cursor:pointer;
}

text {
  text-anchor: middle;
  fill: #444A4D;
  font-size: 50px;
  letter-spacing: 0px;
  
}


.messg {
  cursor: pointer;
  font-size: 16px;
  left: 10px;
  position: fixed;
  right: 10px;
  text-align: left;
  z-index: 99999999999999999999;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
}

/* HOME */
.botonHash.menu .botonHash.menu {
  border-bottom: 1px solid #999;
  cursor: pointer;
  height: 46px;
  margin-left: 0;
  width: 100%;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);

}
 

.botonHash.menu .botonHash.menu small.textMenuSub span {
  color: #333;
}
.botonHash.menu {
  margin: 0 auto;
  min-width: 250px;
  position: relative;
  top: -29px;
  width: 100%;
}
section#home.homebg {
 /* background-image: url("../img/seataltea.jpg");*/
    background-color: #ffffff;
    padding-bottom: 40px;
}
div.pie.menucolor div.menuBAR {
    float: left;
    font-size: 12px;
    height: 54px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 25%;
    cursor: pointer;
}
.pie.menucolor div.menuBAR.piedocs {
  background: none;
}
.text {
    position: relative;
    top: 20px;
    color: #ffffff;
   
}
section.contenido div.contenidoCOnten div.wsContenido div.Divdinamicas div.my-simple-gallery {
    float: none;
    margin: 30px auto 0;
  text-align: center;
    width: 96%;
     padding-left: 0;
}

section.contenido div.contenidoCOnten div.wsContenido div.Divdinamicas div.my-simple-gallery figure {
    display: block;
    float: left;
    margin: 0 3px 5px 0;
    width: 150px;
}
.button-bar__button.bdinamicas {
    border-right: 1px solid #5d5b5b;
    float: left;
    background: #4C4C4C; /* Old browsers */
  
width: 50%;
}
div.button-bar__button2.bestaticas {
    float: right;
    background: #4C4C4C; /* Old browsers */
width: 49%;
}


/* DINAMICAS */
.my-simple-gallery {
    float: none;
    margin: 0 auto;
    padding-left: 0;
    width: 97%;
}
  .my-simple-gallery img {
  width: 100%;
  height: auto;
  
}
  .my-simple-gallery figure {
  display: block;
  margin: 0 5px 5px 0;
  width: 150px;
  float: left;
 
}


div#Recomendar {
  position: relative;
  left: 0px;
  top: 0px;
  background-color: rgb(74, 74, 74);
  padding: 8px;
  color: rgb(255, 255, 255);
  z-index: -1;
}

div#downloadBt:hover
{
background-color: #A0A0A0;
  
}
div#downloadBt:visited
{
background-color: #D0D0D0;
  
}

  .my-simple-gallery figcaption {
  display: none;
}
div.espacio {
  display: block;
}
.Divestaticas {
    margin: 60px auto 0;
    position: absolute;
    top: 0;
}
.Divdinamicas {
    margin-top: 30px;
    position: absolute;
    top: 0;
}

/*FIN DINAMICAS */


/* REPORTAJE */
 .my-simple-gallery {
  width: 90%;
  float: left;
  padding-left:9%;

}
  .my-simple-gallery img {
  width: 100%;
  height: auto;
  
}
  .my-simple-gallery figure {
  display: block;
  float: left;
  margin: 0 3px 5px 0;
  width: 150px;
 
}
.btnImg {
  float: left;
  width: 75px;
}
.share {
  width: 75px;
  float: left;
  /* height: 33px; */
  
}
div#Recomendar {
  position: relative;
  left: 0px;
  top: 0px;
  background-color: rgb(74, 74, 74);
  padding: 8px;
  color: rgb(255, 255, 255);
  z-index: -1;
}
div#downloadBt {
background-color: #C9272C;
  padding-top: 7px;
  height: 28px;
  color: white;
}
div#downloadBt:hover
{
background-color: #A0A0A0;
  
}
div#downloadBt:visited
{
background-color: #D0D0D0;
  
}
  .my-simple-gallery figcaption {
  display: none;
}
.my-simple-gallery.reportaje {
    float: none;
    margin-right: auto;
    margin-top: 60px;
    padding-bottom: 500px;
    padding-right: 0;
    padding-top: 0;
    width: 90%;
     background-color: #ffffff;
}
/*FIN REPORTAJE */

@media (min-width: 768px) {
  .messg {
    left: 23%;
    right: 23%;
  }
}

@media (min-width: 992px) {
  .messg {
    left: 28%;
    right: 28%;
  }
}

@media (min-width: 1200px) {
  .messg {
    left: 33%;
    right: 33%;
  }
}

.messg-default {
  background-color: #333;
  border-bottom: 1px solid #000;
}

.messg-success {
  background-color: #666;
  color:#909090;
  border-bottom: 1px solid #666;
}

.messg-info {
  background-color: #666;
  color:#909090;
  border-bottom: 1px solid #666;
}

.messg-warning {
  background-color: #ec971f;

  border-bottom: 1px solid #d58512;
}

.messg-error {
  background-color: #c9302c;
  border-bottom: 1px solid #ac2925;
  color:#ffffff;
}

.messg-text {
  padding: 10px 15px;
  color:#fff;
}

.messg-buttons {
  float: right;
  padding: 10px;
}

.messg,
.messg button {
  color: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.messg button {
  background: none;
  border: 0 none;
  cursor: pointer;
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 0 6px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
      -ms-border-radius: 2px;
       -o-border-radius: 2px;
          border-radius: 2px;
}
.fondocanvas {
  background-color: rgb(201, 39, 44);
  height: 100%;
}
.messg-default button {
  background-color: #1a1a1a;
}

.messg-default button:hover {
  background-color: #000;
}

.messg-success button {
  background-color: #54b354;
}

.messg-success button:hover {
  background-color: #4cae4c;
}

.messg-info button {
  background-color: #2ca5c9;
}

.messg-info button:hover {
  background-color: #269abc;
}

.messg-warning button {
  background-color: #e18e19;
}

.messg-warning button:hover {
  background-color: #d58512;
}

.messg-error button {
  background-color: #bb2d29;
}

.messg-error button:hover {
  background-color: #ac2925;
}
.prensabox {
    margin-top: 30px;
    padding: 20px;
}
div.desplegar div.textMenu.txtwaypoint {
   background-image: none;
    border-bottom: 1px solid brown;
    color: #ffffff;
    font-size: 18px;
    padding: 15px 5px 15px 20px;
}
div.btnVideos div.spaceTExt.spbold {
  font-weight: bold;
}
.logoinit {
    margin: 0 auto 49px;
    text-align: center;
    width: 100%;
    position: absolute;
}



div#idiomaSelectorInt {
  bottom: 8%;
  position: absolute;
  /* bottom: 0; */
  width: 88%;

}


h3#menu-toggle {
  position: absolute;
  right: 10px;
  color: #fff;
}
div.menuInterior {
    background-repeat: no-repeat;
   background-image: url(../img/skew-bg.png);
  border-right: 8px solid #C9272C;
  margin-bottom: 1px;
  width: -240px;
  padding: 10px;
  background-color: #fff;
  font-size: larger;
  padding-left: 46px;
  color: rgb(97, 97, 97);
    min-width: 202px;
  position: static;
-webkit-box-shadow: 6px 2px 49px -16px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 2px 49px -16px rgba(0,0,0,0.75);
box-shadow: 6px 2px 49px -16px rgba(0,0,0,0.75);
}

div#menu {
  position: fixed;
  width: 71%;
  top: 18%;
   z-index: 999;

}

.hamburger {
  width: 2.83em;
  height: 2.167em;
  font-size: 12px;
  cursor: pointer;
  display: block;
  /* position: relative; */
  right: -15px;
  position: fixed;
  top: 10px;
  z-index: 999;
}
.hamburger__line {
  position: absolute;
  display: block;
  background-color: #fff;
  height: .5em;
  width: 17%;
  float: left;
  margin: 0 0;
  transition: all .35s ease-in-out;
 
}
.hamburger__line.first {
  top: 0;
}
.is-active .hamburger__line.first {
  transform-origin: .167em .33em;
  transform: rotate(45deg) translate(0.167em, -0.25em);
}
.hamburger__line.second {
  top: 50%;
  margin-top: -.25em;
}
.is-active .hamburger__line.second {
  opacity: 0;
}
.hamburger__line.third {
  bottom: 0px;
  transform-origin: .25em -0.33em;
}
.is-active .hamburger__line.third {
  transform: rotate(-45deg) translate(-0.167em, 0.083em);
}


.layerInfo {
  position: fixed;
  width: 100%;
  color: white;
  height: 100%;
  z-index: 999;
  background-color: #C9272C;
}
.layerInfoNAME {
  position: relative;
  color: #fff;
  font-size: larger;
  margin-top: 23%;
}
img.imga {
  background-color: rgb(255, 255, 255);
  width: 77%;
  padding: 6px;
  margin-top: 14px;
  -webkit-box-shadow: 6px 9px 65px -21px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 9px 65px -21px rgba(0,0,0,0.75);
box-shadow: 6px 9px 65px -21px rgba(0,0,0,0.75);
}
.layerInfoTEXTO {
  color: #fff;
  margin-top: 11px;
}

.btngps {
  background-color: white;
  padding: 20px;
  font-size: larger;
  /* margin-top: 12px; */
  bottom: 50px;
  position: absolute;
  width: 91%;
}

i.fa.fa-times.closeInteres.fa-2x {
  float: right;
  padding: 10px;
}
.btngps {
  background-color: white;
  padding: 20px;
  font-size: larger;
  /* margin-top: 12px; */
  bottom: 50px;
  position: absolute;
  width: 91%;
  color: #777777;
}