html {
    background-image: none;
 }

section.contenido div.contenidoCOnten {
}

/*TELEFONOS*/
.telephone {
    margin: 60px 0 0;
    margin-left: 20px;
}
.telfarray {
    margin: 60px 0 0;
}
div.telfarray div.btnVideos1 div.spaceTExt.spbold {
	text-align: left;
}
.telfarray div.btnGPSsun.down div.spaceTExt  {
    position: relative;
    text-align: center;
    top: 8px;
}
div.telfarray div.btnVideos1 div.spaceTExt.spbold {
  font-size: 11px;
  padding-left: 5px;
  font-weight: normal;
  position: relative;
  text-align: left;
  top: 3px;
  vertical-align: middle;
}
div.telfarray div.compartir.btnVideos div.spaceTExt {
   font-size: 12px;
  padding-left: 5px;
  position: relative;
  text-align: left;
  top: 18px;
}
hr.phone {
    border: medium none;
    height: 1px;
    margin: 0;
    padding: 0;
}

/*VIDEOS*/
.videoarray {
    margin: 60px 0 0;
}
.desplegar.videoall {
    margin: 0 auto 60px;
    margin-left: 20px;
}
.desplegar.subvideoall {
    margin: 0 auto;
    margin-left: 20px;
}
div.btnVideos div.spaceTExt, div.compartir.btnVideos.share div.spaceTExt  {
    font-size: 12px;
    padding-left: 5px;
    position: relative;
    text-align: left;
    top: 17px;
}
/*REPORTAJE*/
.my-simple-gallery.reportaje.repalign {
    background-color: #ffffff;
    float: none;
    margin: 60px auto 0;
    padding-bottom: 500px;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    padding-left: 5px;
}
.my-simple-gallery.repalign {
    float: none;
    margin: 0 auto;
}

/*IMAGENES*/
.Divdinamicas {
    margin-top: 30px;
    padding-bottom: 130px;
    position: absolute;
    top: 0;
}

.Divestaticas {
    margin-top: 30px;
    padding-bottom: 130px;
    position: absolute;
    top: 0;
}
div.contenidoCOnten div.wsContenido div.Divestaticas div.my-simple-gallery {
   float: left;
    margin: 30px 0 auto;
    padding-left: 2%;
    width: 98%;
}
/*DOCS*/
.docbox {
}

.docs {
    margin: 60px auto 0;
    text-align: left;
}
.docs div.docbox div.docsarray{
    height: 30px;
    margin: 0 auto;
    padding-top: 10px;
    width: 88%;
}
.docs div.docbox div.docsarray div.docstitle{
    width: 60%;
    float: left;
     padding-top: 10px;
}

.docsarray div.enviardocs div.docstext {
     font-size: 12px;
    margin-left: 10px;
    position: relative;
    top: 3px;
    text-align: center;
}
.fa.fa-file-text-o {
    float: left;
}
.docs div.docbox div.docsarray div.enviardocs{
   border: 1px solid #ededed;
    border-radius: 5px;
    float: left;
    padding: 10px;
    width: 30%;
}
div.docs hr {
	border-top: 1px solid #ededed;
	border-bottom: none;
	margin: 20px 0;
}
/*HOME*/
section#home.homebg div.imghome {
      width: 100%;

}
.imghome > img {
    width: 100%;
}

