@-webkit-keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  0.877193% {
    -webkit-transform: matrix3d(0.90859, 0.41769, 0, 0, -0.41769, 0.90859, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.90859, 0.41769, 0, 0, -0.41769, 0.90859, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  1.754386% {
    -webkit-transform: matrix3d(0.67144, 0.74106, 0, 0, -0.74106, 0.67144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.67144, 0.74106, 0, 0, -0.74106, 0.67144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.631579% {
    -webkit-transform: matrix3d(0.35656, 0.93427, 0, 0, -0.93427, 0.35656, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.35656, 0.93427, 0, 0, -0.93427, 0.35656, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.508772% {
    -webkit-transform: matrix3d(0.02808, 0.99961, 0, 0, -0.99961, 0.02808, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.02808, 0.99961, 0, 0, -0.99961, 0.02808, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.385965% {
    -webkit-transform: matrix3d(-0.26885, 0.96318, 0, 0, -0.96318, -0.26885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.26885, 0.96318, 0, 0, -0.96318, -0.26885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  5.263158% {
    -webkit-transform: matrix3d(-0.51109, 0.85953, 0, 0, -0.85953, -0.51109, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.51109, 0.85953, 0, 0, -0.85953, -0.51109, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.140351% {
    -webkit-transform: matrix3d(-0.69315, 0.72079, 0, 0, -0.72079, -0.69315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.69315, 0.72079, 0, 0, -0.72079, -0.69315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  7.017544% {
    -webkit-transform: matrix3d(-0.82051, 0.57163, 0, 0, -0.57163, -0.82051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.82051, 0.57163, 0, 0, -0.57163, -0.82051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  7.894737% {
    -webkit-transform: matrix3d(-0.90364, 0.42829, 0, 0, -0.42829, -0.90364, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.90364, 0.42829, 0, 0, -0.42829, -0.90364, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.77193% {
    -webkit-transform: matrix3d(-0.95397, 0.29989, 0, 0, -0.29989, -0.95397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.95397, 0.29989, 0, 0, -0.29989, -0.95397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.649123% {
    -webkit-transform: matrix3d(-0.9817, 0.19042, 0, 0, -0.19042, -0.9817, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.9817, 0.19042, 0, 0, -0.19042, -0.9817, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.526316% {
    -webkit-transform: matrix3d(-0.99493, 0.1006, 0, 0, -0.1006, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99493, 0.1006, 0, 0, -0.1006, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  11.403509% {
    -webkit-transform: matrix3d(-0.99957, 0.02931, 0, 0, -0.02931, -0.99957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99957, 0.02931, 0, 0, -0.02931, -0.99957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.280702% {
    -webkit-transform: matrix3d(-0.99968, -0.02546, 0, 0, 0.02546, -0.99968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99968, -0.02546, 0, 0, 0.02546, -0.99968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.157895% {
    -webkit-transform: matrix3d(-0.99782, -0.06602, 0, 0, 0.06602, -0.99782, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99782, -0.06602, 0, 0, 0.06602, -0.99782, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.035088% {
    -webkit-transform: matrix3d(-0.99551, -0.09465, 0, 0, 0.09465, -0.99551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99551, -0.09465, 0, 0, 0.09465, -0.99551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.912281% {
    -webkit-transform: matrix3d(-0.99354, -0.11348, 0, 0, 0.11348, -0.99354, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99354, -0.11348, 0, 0, 0.11348, -0.99354, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  15.789474% {
    -webkit-transform: matrix3d(-0.99223, -0.12439, 0, 0, 0.12439, -0.99223, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99223, -0.12439, 0, 0, 0.12439, -0.99223, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  16.666667% {
    -webkit-transform: matrix3d(-0.99164, -0.12903, 0, 0, 0.12903, -0.99164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99164, -0.12903, 0, 0, 0.12903, -0.99164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.54386% {
    -webkit-transform: matrix3d(-0.99167, -0.12881, 0, 0, 0.12881, -0.99167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99167, -0.12881, 0, 0, 0.12881, -0.99167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.421053% {
    -webkit-transform: matrix3d(-0.99216, -0.12494, 0, 0, 0.12494, -0.99216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99216, -0.12494, 0, 0, 0.12494, -0.99216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  19.298246% {
    -webkit-transform: matrix3d(-0.99297, -0.1184, 0, 0, 0.1184, -0.99297, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99297, -0.1184, 0, 0, 0.1184, -0.99297, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  20.175439% {
    -webkit-transform: matrix3d(-0.99393, -0.11005, 0, 0, 0.11005, -0.99393, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99393, -0.11005, 0, 0, 0.11005, -0.99393, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.052632% {
    -webkit-transform: matrix3d(-0.99493, -0.10057, 0, 0, 0.10057, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99493, -0.10057, 0, 0, 0.10057, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.929825% {
    -webkit-transform: matrix3d(-0.9959, -0.09049, 0, 0, 0.09049, -0.9959, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.9959, -0.09049, 0, 0, 0.09049, -0.9959, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  22.807018% {
    -webkit-transform: matrix3d(-0.99677, -0.08027, 0, 0, 0.08027, -0.99677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99677, -0.08027, 0, 0, 0.08027, -0.99677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  23.684211% {
    -webkit-transform: matrix3d(-0.99753, -0.07022, 0, 0, 0.07022, -0.99753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99753, -0.07022, 0, 0, 0.07022, -0.99753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.561404% {
    -webkit-transform: matrix3d(-0.99816, -0.0606, 0, 0, 0.0606, -0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99816, -0.0606, 0, 0, 0.0606, -0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.438596% {
    -webkit-transform: matrix3d(-0.99867, -0.05159, 0, 0, 0.05159, -0.99867, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99867, -0.05159, 0, 0, 0.05159, -0.99867, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  26.315789% {
    -webkit-transform: matrix3d(-0.99906, -0.04328, 0, 0, 0.04328, -0.99906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99906, -0.04328, 0, 0, 0.04328, -0.99906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  27.192982% {
    -webkit-transform: matrix3d(-0.99936, -0.03576, 0, 0, 0.03576, -0.99936, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99936, -0.03576, 0, 0, 0.03576, -0.99936, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.070175% {
    -webkit-transform: matrix3d(-0.99958, -0.02905, 0, 0, 0.02905, -0.99958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99958, -0.02905, 0, 0, 0.02905, -0.99958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.947368% {
    -webkit-transform: matrix3d(-0.99973, -0.02314, 0, 0, 0.02314, -0.99973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99973, -0.02314, 0, 0, 0.02314, -0.99973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.824561% {
    -webkit-transform: matrix3d(-0.99984, -0.01801, 0, 0, 0.01801, -0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99984, -0.01801, 0, 0, 0.01801, -0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  30.701754% {
    -webkit-transform: matrix3d(-0.99991, -0.01361, 0, 0, 0.01361, -0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99991, -0.01361, 0, 0, 0.01361, -0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  31.578947% {
    -webkit-transform: matrix3d(-0.99995, -0.0099, 0, 0, 0.0099, -0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99995, -0.0099, 0, 0, 0.0099, -0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  32.45614% {
    -webkit-transform: matrix3d(-0.99998, -0.00681, 0, 0, 0.00681, -0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99998, -0.00681, 0, 0, 0.00681, -0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  33.333333% {
    -webkit-transform: matrix3d(-0.99999, -0.00429, 0, 0, 0.00429, -0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99999, -0.00429, 0, 0, 0.00429, -0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  34.210526% {
    -webkit-transform: matrix3d(-1, -0.00225, 0, 0, 0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00225, 0, 0, 0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.087719% {
    -webkit-transform: matrix3d(-1, -0.00066, 0, 0, 0.00066, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00066, 0, 0, 0.00066, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.964912% {
    -webkit-transform: matrix3d(-1, 0.00057, 0, 0, -0.00057, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00057, 0, 0, -0.00057, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.842105% {
    -webkit-transform: matrix3d(-1, 0.00148, 0, 0, -0.00148, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00148, 0, 0, -0.00148, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  37.719298% {
    -webkit-transform: matrix3d(-1, 0.00212, 0, 0, -0.00212, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00212, 0, 0, -0.00212, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  38.596491% {
    -webkit-transform: matrix3d(-1, 0.00254, 0, 0, -0.00254, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00254, 0, 0, -0.00254, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.473684% {
    -webkit-transform: matrix3d(-1, 0.00279, 0, 0, -0.00279, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00279, 0, 0, -0.00279, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  40.350877% {
    -webkit-transform: matrix3d(-1, 0.00289, 0, 0, -0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00289, 0, 0, -0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.22807% {
    -webkit-transform: matrix3d(-1, 0.00289, 0, 0, -0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00289, 0, 0, -0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  42.105263% {
    -webkit-transform: matrix3d(-1, 0.0028, 0, 0, -0.0028, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.0028, 0, 0, -0.0028, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  42.982456% {
    -webkit-transform: matrix3d(-1, 0.00266, 0, 0, -0.00266, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00266, 0, 0, -0.00266, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  43.859649% {
    -webkit-transform: matrix3d(-1, 0.00247, 0, 0, -0.00247, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00247, 0, 0, -0.00247, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.736842% {
    -webkit-transform: matrix3d(-1, 0.00225, 0, 0, -0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00225, 0, 0, -0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  45.614035% {
    -webkit-transform: matrix3d(-1, 0.00203, 0, 0, -0.00203, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00203, 0, 0, -0.00203, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  46.491228% {
    -webkit-transform: matrix3d(-1, 0.0018, 0, 0, -0.0018, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.0018, 0, 0, -0.0018, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  47.368421% {
    -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  48.245614% {
    -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  49.122807% {
    -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  50% {
    -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  50.877193% {
    -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  51.754386% {
    -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.631579% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  53.508772% {
    -webkit-transform: matrix3d(0.90859, -0.41769, 0, 0, 0.41769, 0.90859, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.90859, -0.41769, 0, 0, 0.41769, 0.90859, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  54.385965% {
    -webkit-transform: matrix3d(0.67144, -0.74106, 0, 0, 0.74106, 0.67144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.67144, -0.74106, 0, 0, 0.74106, 0.67144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  55.263158% {
    -webkit-transform: matrix3d(0.35656, -0.93427, 0, 0, 0.93427, 0.35656, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.35656, -0.93427, 0, 0, 0.93427, 0.35656, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  56.140351% {
    -webkit-transform: matrix3d(0.02808, -0.99961, 0, 0, 0.99961, 0.02808, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.02808, -0.99961, 0, 0, 0.99961, 0.02808, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  57.017544% {
    -webkit-transform: matrix3d(-0.26885, -0.96318, 0, 0, 0.96318, -0.26885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.26885, -0.96318, 0, 0, 0.96318, -0.26885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  57.894737% {
    -webkit-transform: matrix3d(-0.51109, -0.85953, 0, 0, 0.85953, -0.51109, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.51109, -0.85953, 0, 0, 0.85953, -0.51109, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  58.77193% {
    -webkit-transform: matrix3d(-0.69315, -0.72079, 0, 0, 0.72079, -0.69315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.69315, -0.72079, 0, 0, 0.72079, -0.69315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.649123% {
    -webkit-transform: matrix3d(-0.82051, -0.57163, 0, 0, 0.57163, -0.82051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.82051, -0.57163, 0, 0, 0.57163, -0.82051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  60.526316% {
    -webkit-transform: matrix3d(-0.90364, -0.42829, 0, 0, 0.42829, -0.90364, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.90364, -0.42829, 0, 0, 0.42829, -0.90364, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  61.403509% {
    -webkit-transform: matrix3d(-0.95397, -0.29989, 0, 0, 0.29989, -0.95397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.95397, -0.29989, 0, 0, 0.29989, -0.95397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  62.280702% {
    -webkit-transform: matrix3d(-0.9817, -0.19042, 0, 0, 0.19042, -0.9817, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.9817, -0.19042, 0, 0, 0.19042, -0.9817, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.157895% {
    -webkit-transform: matrix3d(-0.99493, -0.1006, 0, 0, 0.1006, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99493, -0.1006, 0, 0, 0.1006, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  64.035088% {
    -webkit-transform: matrix3d(-0.99957, -0.02931, 0, 0, 0.02931, -0.99957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99957, -0.02931, 0, 0, 0.02931, -0.99957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  64.912281% {
    -webkit-transform: matrix3d(-0.99968, 0.02546, 0, 0, -0.02546, -0.99968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99968, 0.02546, 0, 0, -0.02546, -0.99968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  65.789474% {
    -webkit-transform: matrix3d(-0.99782, 0.06602, 0, 0, -0.06602, -0.99782, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99782, 0.06602, 0, 0, -0.06602, -0.99782, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  66.666667% {
    -webkit-transform: matrix3d(-0.99551, 0.09465, 0, 0, -0.09465, -0.99551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99551, 0.09465, 0, 0, -0.09465, -0.99551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  67.54386% {
    -webkit-transform: matrix3d(-0.99354, 0.11348, 0, 0, -0.11348, -0.99354, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99354, 0.11348, 0, 0, -0.11348, -0.99354, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  68.421053% {
    -webkit-transform: matrix3d(-0.99223, 0.12439, 0, 0, -0.12439, -0.99223, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99223, 0.12439, 0, 0, -0.12439, -0.99223, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  69.298246% {
    -webkit-transform: matrix3d(-0.99164, 0.12903, 0, 0, -0.12903, -0.99164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99164, 0.12903, 0, 0, -0.12903, -0.99164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  70.175439% {
    -webkit-transform: matrix3d(-0.99167, 0.12881, 0, 0, -0.12881, -0.99167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99167, 0.12881, 0, 0, -0.12881, -0.99167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  71.052632% {
    -webkit-transform: matrix3d(-0.99216, 0.12494, 0, 0, -0.12494, -0.99216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99216, 0.12494, 0, 0, -0.12494, -0.99216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  71.929825% {
    -webkit-transform: matrix3d(-0.99297, 0.1184, 0, 0, -0.1184, -0.99297, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99297, 0.1184, 0, 0, -0.1184, -0.99297, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  72.807018% {
    -webkit-transform: matrix3d(-0.99393, 0.11005, 0, 0, -0.11005, -0.99393, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99393, 0.11005, 0, 0, -0.11005, -0.99393, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  73.684211% {
    -webkit-transform: matrix3d(-0.99493, 0.10057, 0, 0, -0.10057, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99493, 0.10057, 0, 0, -0.10057, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  74.561404% {
    -webkit-transform: matrix3d(-0.9959, 0.09049, 0, 0, -0.09049, -0.9959, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.9959, 0.09049, 0, 0, -0.09049, -0.9959, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.438596% {
    -webkit-transform: matrix3d(-0.99677, 0.08027, 0, 0, -0.08027, -0.99677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99677, 0.08027, 0, 0, -0.08027, -0.99677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  76.315789% {
    -webkit-transform: matrix3d(-0.99753, 0.07022, 0, 0, -0.07022, -0.99753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99753, 0.07022, 0, 0, -0.07022, -0.99753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  77.192982% {
    -webkit-transform: matrix3d(-0.99816, 0.0606, 0, 0, -0.0606, -0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99816, 0.0606, 0, 0, -0.0606, -0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  78.070175% {
    -webkit-transform: matrix3d(-0.99867, 0.05159, 0, 0, -0.05159, -0.99867, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99867, 0.05159, 0, 0, -0.05159, -0.99867, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  78.947368% {
    -webkit-transform: matrix3d(-0.99906, 0.04328, 0, 0, -0.04328, -0.99906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99906, 0.04328, 0, 0, -0.04328, -0.99906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  79.824561% {
    -webkit-transform: matrix3d(-0.99936, 0.03576, 0, 0, -0.03576, -0.99936, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99936, 0.03576, 0, 0, -0.03576, -0.99936, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  80.701754% {
    -webkit-transform: matrix3d(-0.99958, 0.02905, 0, 0, -0.02905, -0.99958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99958, 0.02905, 0, 0, -0.02905, -0.99958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  81.578947% {
    -webkit-transform: matrix3d(-0.99973, 0.02314, 0, 0, -0.02314, -0.99973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99973, 0.02314, 0, 0, -0.02314, -0.99973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  82.45614% {
    -webkit-transform: matrix3d(-0.99984, 0.01801, 0, 0, -0.01801, -0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99984, 0.01801, 0, 0, -0.01801, -0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.333333% {
    -webkit-transform: matrix3d(-0.99991, 0.01361, 0, 0, -0.01361, -0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99991, 0.01361, 0, 0, -0.01361, -0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  84.210526% {
    -webkit-transform: matrix3d(-0.99995, 0.0099, 0, 0, -0.0099, -0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99995, 0.0099, 0, 0, -0.0099, -0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.087719% {
    -webkit-transform: matrix3d(-0.99998, 0.00681, 0, 0, -0.00681, -0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99998, 0.00681, 0, 0, -0.00681, -0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.964912% {
    -webkit-transform: matrix3d(-0.99999, 0.00429, 0, 0, -0.00429, -0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99999, 0.00429, 0, 0, -0.00429, -0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  86.842105% {
    -webkit-transform: matrix3d(-1, 0.00225, 0, 0, -0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00225, 0, 0, -0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  87.719298% {
    -webkit-transform: matrix3d(-1, 0.00066, 0, 0, -0.00066, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00066, 0, 0, -0.00066, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  88.596491% {
    -webkit-transform: matrix3d(-1, -0.00057, 0, 0, 0.00057, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00057, 0, 0, 0.00057, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  89.473684% {
    -webkit-transform: matrix3d(-1, -0.00148, 0, 0, 0.00148, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00148, 0, 0, 0.00148, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.350877% {
    -webkit-transform: matrix3d(-1, -0.00212, 0, 0, 0.00212, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00212, 0, 0, 0.00212, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  91.22807% {
    -webkit-transform: matrix3d(-1, -0.00254, 0, 0, 0.00254, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00254, 0, 0, 0.00254, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  92.105263% {
    -webkit-transform: matrix3d(-1, -0.00279, 0, 0, 0.00279, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00279, 0, 0, 0.00279, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  92.982456% {
    -webkit-transform: matrix3d(-1, -0.00289, 0, 0, 0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00289, 0, 0, 0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  93.859649% {
    -webkit-transform: matrix3d(-1, -0.00289, 0, 0, 0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00289, 0, 0, 0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  94.736842% {
    -webkit-transform: matrix3d(-1, -0.0028, 0, 0, 0.0028, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.0028, 0, 0, 0.0028, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  95.614035% {
    -webkit-transform: matrix3d(-1, -0.00266, 0, 0, 0.00266, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00266, 0, 0, 0.00266, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  96.491228% {
    -webkit-transform: matrix3d(-1, -0.00247, 0, 0, 0.00247, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00247, 0, 0, 0.00247, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  97.368421% {
    -webkit-transform: matrix3d(-1, -0.00225, 0, 0, 0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00225, 0, 0, 0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  98.245614% {
    -webkit-transform: matrix3d(-1, -0.00203, 0, 0, 0.00203, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00203, 0, 0, 0.00203, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  99.122807% {
    -webkit-transform: matrix3d(-1, -0.0018, 0, 0, 0.0018, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.0018, 0, 0, 0.0018, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  0.877193% {
    -webkit-transform: matrix3d(0.90859, 0.41769, 0, 0, -0.41769, 0.90859, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.90859, 0.41769, 0, 0, -0.41769, 0.90859, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  1.754386% {
    -webkit-transform: matrix3d(0.67144, 0.74106, 0, 0, -0.74106, 0.67144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.67144, 0.74106, 0, 0, -0.74106, 0.67144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.631579% {
    -webkit-transform: matrix3d(0.35656, 0.93427, 0, 0, -0.93427, 0.35656, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.35656, 0.93427, 0, 0, -0.93427, 0.35656, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.508772% {
    -webkit-transform: matrix3d(0.02808, 0.99961, 0, 0, -0.99961, 0.02808, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.02808, 0.99961, 0, 0, -0.99961, 0.02808, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.385965% {
    -webkit-transform: matrix3d(-0.26885, 0.96318, 0, 0, -0.96318, -0.26885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.26885, 0.96318, 0, 0, -0.96318, -0.26885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  5.263158% {
    -webkit-transform: matrix3d(-0.51109, 0.85953, 0, 0, -0.85953, -0.51109, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.51109, 0.85953, 0, 0, -0.85953, -0.51109, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.140351% {
    -webkit-transform: matrix3d(-0.69315, 0.72079, 0, 0, -0.72079, -0.69315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.69315, 0.72079, 0, 0, -0.72079, -0.69315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  7.017544% {
    -webkit-transform: matrix3d(-0.82051, 0.57163, 0, 0, -0.57163, -0.82051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.82051, 0.57163, 0, 0, -0.57163, -0.82051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  7.894737% {
    -webkit-transform: matrix3d(-0.90364, 0.42829, 0, 0, -0.42829, -0.90364, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.90364, 0.42829, 0, 0, -0.42829, -0.90364, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.77193% {
    -webkit-transform: matrix3d(-0.95397, 0.29989, 0, 0, -0.29989, -0.95397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.95397, 0.29989, 0, 0, -0.29989, -0.95397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.649123% {
    -webkit-transform: matrix3d(-0.9817, 0.19042, 0, 0, -0.19042, -0.9817, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.9817, 0.19042, 0, 0, -0.19042, -0.9817, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.526316% {
    -webkit-transform: matrix3d(-0.99493, 0.1006, 0, 0, -0.1006, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99493, 0.1006, 0, 0, -0.1006, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  11.403509% {
    -webkit-transform: matrix3d(-0.99957, 0.02931, 0, 0, -0.02931, -0.99957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99957, 0.02931, 0, 0, -0.02931, -0.99957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.280702% {
    -webkit-transform: matrix3d(-0.99968, -0.02546, 0, 0, 0.02546, -0.99968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99968, -0.02546, 0, 0, 0.02546, -0.99968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.157895% {
    -webkit-transform: matrix3d(-0.99782, -0.06602, 0, 0, 0.06602, -0.99782, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99782, -0.06602, 0, 0, 0.06602, -0.99782, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.035088% {
    -webkit-transform: matrix3d(-0.99551, -0.09465, 0, 0, 0.09465, -0.99551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99551, -0.09465, 0, 0, 0.09465, -0.99551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.912281% {
    -webkit-transform: matrix3d(-0.99354, -0.11348, 0, 0, 0.11348, -0.99354, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99354, -0.11348, 0, 0, 0.11348, -0.99354, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  15.789474% {
    -webkit-transform: matrix3d(-0.99223, -0.12439, 0, 0, 0.12439, -0.99223, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99223, -0.12439, 0, 0, 0.12439, -0.99223, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  16.666667% {
    -webkit-transform: matrix3d(-0.99164, -0.12903, 0, 0, 0.12903, -0.99164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99164, -0.12903, 0, 0, 0.12903, -0.99164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.54386% {
    -webkit-transform: matrix3d(-0.99167, -0.12881, 0, 0, 0.12881, -0.99167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99167, -0.12881, 0, 0, 0.12881, -0.99167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.421053% {
    -webkit-transform: matrix3d(-0.99216, -0.12494, 0, 0, 0.12494, -0.99216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99216, -0.12494, 0, 0, 0.12494, -0.99216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  19.298246% {
    -webkit-transform: matrix3d(-0.99297, -0.1184, 0, 0, 0.1184, -0.99297, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99297, -0.1184, 0, 0, 0.1184, -0.99297, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  20.175439% {
    -webkit-transform: matrix3d(-0.99393, -0.11005, 0, 0, 0.11005, -0.99393, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99393, -0.11005, 0, 0, 0.11005, -0.99393, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.052632% {
    -webkit-transform: matrix3d(-0.99493, -0.10057, 0, 0, 0.10057, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99493, -0.10057, 0, 0, 0.10057, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.929825% {
    -webkit-transform: matrix3d(-0.9959, -0.09049, 0, 0, 0.09049, -0.9959, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.9959, -0.09049, 0, 0, 0.09049, -0.9959, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  22.807018% {
    -webkit-transform: matrix3d(-0.99677, -0.08027, 0, 0, 0.08027, -0.99677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99677, -0.08027, 0, 0, 0.08027, -0.99677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  23.684211% {
    -webkit-transform: matrix3d(-0.99753, -0.07022, 0, 0, 0.07022, -0.99753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99753, -0.07022, 0, 0, 0.07022, -0.99753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.561404% {
    -webkit-transform: matrix3d(-0.99816, -0.0606, 0, 0, 0.0606, -0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99816, -0.0606, 0, 0, 0.0606, -0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.438596% {
    -webkit-transform: matrix3d(-0.99867, -0.05159, 0, 0, 0.05159, -0.99867, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99867, -0.05159, 0, 0, 0.05159, -0.99867, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  26.315789% {
    -webkit-transform: matrix3d(-0.99906, -0.04328, 0, 0, 0.04328, -0.99906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99906, -0.04328, 0, 0, 0.04328, -0.99906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  27.192982% {
    -webkit-transform: matrix3d(-0.99936, -0.03576, 0, 0, 0.03576, -0.99936, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99936, -0.03576, 0, 0, 0.03576, -0.99936, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.070175% {
    -webkit-transform: matrix3d(-0.99958, -0.02905, 0, 0, 0.02905, -0.99958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99958, -0.02905, 0, 0, 0.02905, -0.99958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.947368% {
    -webkit-transform: matrix3d(-0.99973, -0.02314, 0, 0, 0.02314, -0.99973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99973, -0.02314, 0, 0, 0.02314, -0.99973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.824561% {
    -webkit-transform: matrix3d(-0.99984, -0.01801, 0, 0, 0.01801, -0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99984, -0.01801, 0, 0, 0.01801, -0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  30.701754% {
    -webkit-transform: matrix3d(-0.99991, -0.01361, 0, 0, 0.01361, -0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99991, -0.01361, 0, 0, 0.01361, -0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  31.578947% {
    -webkit-transform: matrix3d(-0.99995, -0.0099, 0, 0, 0.0099, -0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99995, -0.0099, 0, 0, 0.0099, -0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  32.45614% {
    -webkit-transform: matrix3d(-0.99998, -0.00681, 0, 0, 0.00681, -0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99998, -0.00681, 0, 0, 0.00681, -0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  33.333333% {
    -webkit-transform: matrix3d(-0.99999, -0.00429, 0, 0, 0.00429, -0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99999, -0.00429, 0, 0, 0.00429, -0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  34.210526% {
    -webkit-transform: matrix3d(-1, -0.00225, 0, 0, 0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00225, 0, 0, 0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.087719% {
    -webkit-transform: matrix3d(-1, -0.00066, 0, 0, 0.00066, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00066, 0, 0, 0.00066, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.964912% {
    -webkit-transform: matrix3d(-1, 0.00057, 0, 0, -0.00057, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00057, 0, 0, -0.00057, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.842105% {
    -webkit-transform: matrix3d(-1, 0.00148, 0, 0, -0.00148, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00148, 0, 0, -0.00148, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  37.719298% {
    -webkit-transform: matrix3d(-1, 0.00212, 0, 0, -0.00212, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00212, 0, 0, -0.00212, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  38.596491% {
    -webkit-transform: matrix3d(-1, 0.00254, 0, 0, -0.00254, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00254, 0, 0, -0.00254, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.473684% {
    -webkit-transform: matrix3d(-1, 0.00279, 0, 0, -0.00279, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00279, 0, 0, -0.00279, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  40.350877% {
    -webkit-transform: matrix3d(-1, 0.00289, 0, 0, -0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00289, 0, 0, -0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.22807% {
    -webkit-transform: matrix3d(-1, 0.00289, 0, 0, -0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00289, 0, 0, -0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  42.105263% {
    -webkit-transform: matrix3d(-1, 0.0028, 0, 0, -0.0028, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.0028, 0, 0, -0.0028, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  42.982456% {
    -webkit-transform: matrix3d(-1, 0.00266, 0, 0, -0.00266, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00266, 0, 0, -0.00266, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  43.859649% {
    -webkit-transform: matrix3d(-1, 0.00247, 0, 0, -0.00247, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00247, 0, 0, -0.00247, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.736842% {
    -webkit-transform: matrix3d(-1, 0.00225, 0, 0, -0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00225, 0, 0, -0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  45.614035% {
    -webkit-transform: matrix3d(-1, 0.00203, 0, 0, -0.00203, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00203, 0, 0, -0.00203, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  46.491228% {
    -webkit-transform: matrix3d(-1, 0.0018, 0, 0, -0.0018, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.0018, 0, 0, -0.0018, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  47.368421% {
    -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  48.245614% {
    -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  49.122807% {
    -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  50% {
    -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  50.877193% {
    -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  51.754386% {
    -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.631579% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  53.508772% {
    -webkit-transform: matrix3d(0.90859, -0.41769, 0, 0, 0.41769, 0.90859, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.90859, -0.41769, 0, 0, 0.41769, 0.90859, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  54.385965% {
    -webkit-transform: matrix3d(0.67144, -0.74106, 0, 0, 0.74106, 0.67144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.67144, -0.74106, 0, 0, 0.74106, 0.67144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  55.263158% {
    -webkit-transform: matrix3d(0.35656, -0.93427, 0, 0, 0.93427, 0.35656, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.35656, -0.93427, 0, 0, 0.93427, 0.35656, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  56.140351% {
    -webkit-transform: matrix3d(0.02808, -0.99961, 0, 0, 0.99961, 0.02808, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.02808, -0.99961, 0, 0, 0.99961, 0.02808, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  57.017544% {
    -webkit-transform: matrix3d(-0.26885, -0.96318, 0, 0, 0.96318, -0.26885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.26885, -0.96318, 0, 0, 0.96318, -0.26885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  57.894737% {
    -webkit-transform: matrix3d(-0.51109, -0.85953, 0, 0, 0.85953, -0.51109, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.51109, -0.85953, 0, 0, 0.85953, -0.51109, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  58.77193% {
    -webkit-transform: matrix3d(-0.69315, -0.72079, 0, 0, 0.72079, -0.69315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.69315, -0.72079, 0, 0, 0.72079, -0.69315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.649123% {
    -webkit-transform: matrix3d(-0.82051, -0.57163, 0, 0, 0.57163, -0.82051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.82051, -0.57163, 0, 0, 0.57163, -0.82051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  60.526316% {
    -webkit-transform: matrix3d(-0.90364, -0.42829, 0, 0, 0.42829, -0.90364, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.90364, -0.42829, 0, 0, 0.42829, -0.90364, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  61.403509% {
    -webkit-transform: matrix3d(-0.95397, -0.29989, 0, 0, 0.29989, -0.95397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.95397, -0.29989, 0, 0, 0.29989, -0.95397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  62.280702% {
    -webkit-transform: matrix3d(-0.9817, -0.19042, 0, 0, 0.19042, -0.9817, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.9817, -0.19042, 0, 0, 0.19042, -0.9817, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.157895% {
    -webkit-transform: matrix3d(-0.99493, -0.1006, 0, 0, 0.1006, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99493, -0.1006, 0, 0, 0.1006, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  64.035088% {
    -webkit-transform: matrix3d(-0.99957, -0.02931, 0, 0, 0.02931, -0.99957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99957, -0.02931, 0, 0, 0.02931, -0.99957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  64.912281% {
    -webkit-transform: matrix3d(-0.99968, 0.02546, 0, 0, -0.02546, -0.99968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99968, 0.02546, 0, 0, -0.02546, -0.99968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  65.789474% {
    -webkit-transform: matrix3d(-0.99782, 0.06602, 0, 0, -0.06602, -0.99782, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99782, 0.06602, 0, 0, -0.06602, -0.99782, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  66.666667% {
    -webkit-transform: matrix3d(-0.99551, 0.09465, 0, 0, -0.09465, -0.99551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99551, 0.09465, 0, 0, -0.09465, -0.99551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  67.54386% {
    -webkit-transform: matrix3d(-0.99354, 0.11348, 0, 0, -0.11348, -0.99354, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99354, 0.11348, 0, 0, -0.11348, -0.99354, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  68.421053% {
    -webkit-transform: matrix3d(-0.99223, 0.12439, 0, 0, -0.12439, -0.99223, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99223, 0.12439, 0, 0, -0.12439, -0.99223, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  69.298246% {
    -webkit-transform: matrix3d(-0.99164, 0.12903, 0, 0, -0.12903, -0.99164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99164, 0.12903, 0, 0, -0.12903, -0.99164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  70.175439% {
    -webkit-transform: matrix3d(-0.99167, 0.12881, 0, 0, -0.12881, -0.99167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99167, 0.12881, 0, 0, -0.12881, -0.99167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  71.052632% {
    -webkit-transform: matrix3d(-0.99216, 0.12494, 0, 0, -0.12494, -0.99216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99216, 0.12494, 0, 0, -0.12494, -0.99216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  71.929825% {
    -webkit-transform: matrix3d(-0.99297, 0.1184, 0, 0, -0.1184, -0.99297, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99297, 0.1184, 0, 0, -0.1184, -0.99297, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  72.807018% {
    -webkit-transform: matrix3d(-0.99393, 0.11005, 0, 0, -0.11005, -0.99393, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99393, 0.11005, 0, 0, -0.11005, -0.99393, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  73.684211% {
    -webkit-transform: matrix3d(-0.99493, 0.10057, 0, 0, -0.10057, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99493, 0.10057, 0, 0, -0.10057, -0.99493, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  74.561404% {
    -webkit-transform: matrix3d(-0.9959, 0.09049, 0, 0, -0.09049, -0.9959, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.9959, 0.09049, 0, 0, -0.09049, -0.9959, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.438596% {
    -webkit-transform: matrix3d(-0.99677, 0.08027, 0, 0, -0.08027, -0.99677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99677, 0.08027, 0, 0, -0.08027, -0.99677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  76.315789% {
    -webkit-transform: matrix3d(-0.99753, 0.07022, 0, 0, -0.07022, -0.99753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99753, 0.07022, 0, 0, -0.07022, -0.99753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  77.192982% {
    -webkit-transform: matrix3d(-0.99816, 0.0606, 0, 0, -0.0606, -0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99816, 0.0606, 0, 0, -0.0606, -0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  78.070175% {
    -webkit-transform: matrix3d(-0.99867, 0.05159, 0, 0, -0.05159, -0.99867, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99867, 0.05159, 0, 0, -0.05159, -0.99867, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  78.947368% {
    -webkit-transform: matrix3d(-0.99906, 0.04328, 0, 0, -0.04328, -0.99906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99906, 0.04328, 0, 0, -0.04328, -0.99906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  79.824561% {
    -webkit-transform: matrix3d(-0.99936, 0.03576, 0, 0, -0.03576, -0.99936, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99936, 0.03576, 0, 0, -0.03576, -0.99936, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  80.701754% {
    -webkit-transform: matrix3d(-0.99958, 0.02905, 0, 0, -0.02905, -0.99958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99958, 0.02905, 0, 0, -0.02905, -0.99958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  81.578947% {
    -webkit-transform: matrix3d(-0.99973, 0.02314, 0, 0, -0.02314, -0.99973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99973, 0.02314, 0, 0, -0.02314, -0.99973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  82.45614% {
    -webkit-transform: matrix3d(-0.99984, 0.01801, 0, 0, -0.01801, -0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99984, 0.01801, 0, 0, -0.01801, -0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.333333% {
    -webkit-transform: matrix3d(-0.99991, 0.01361, 0, 0, -0.01361, -0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99991, 0.01361, 0, 0, -0.01361, -0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  84.210526% {
    -webkit-transform: matrix3d(-0.99995, 0.0099, 0, 0, -0.0099, -0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99995, 0.0099, 0, 0, -0.0099, -0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.087719% {
    -webkit-transform: matrix3d(-0.99998, 0.00681, 0, 0, -0.00681, -0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99998, 0.00681, 0, 0, -0.00681, -0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.964912% {
    -webkit-transform: matrix3d(-0.99999, 0.00429, 0, 0, -0.00429, -0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.99999, 0.00429, 0, 0, -0.00429, -0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  86.842105% {
    -webkit-transform: matrix3d(-1, 0.00225, 0, 0, -0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00225, 0, 0, -0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  87.719298% {
    -webkit-transform: matrix3d(-1, 0.00066, 0, 0, -0.00066, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0.00066, 0, 0, -0.00066, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  88.596491% {
    -webkit-transform: matrix3d(-1, -0.00057, 0, 0, 0.00057, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00057, 0, 0, 0.00057, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  89.473684% {
    -webkit-transform: matrix3d(-1, -0.00148, 0, 0, 0.00148, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00148, 0, 0, 0.00148, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.350877% {
    -webkit-transform: matrix3d(-1, -0.00212, 0, 0, 0.00212, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00212, 0, 0, 0.00212, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  91.22807% {
    -webkit-transform: matrix3d(-1, -0.00254, 0, 0, 0.00254, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00254, 0, 0, 0.00254, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  92.105263% {
    -webkit-transform: matrix3d(-1, -0.00279, 0, 0, 0.00279, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00279, 0, 0, 0.00279, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  92.982456% {
    -webkit-transform: matrix3d(-1, -0.00289, 0, 0, 0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00289, 0, 0, 0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  93.859649% {
    -webkit-transform: matrix3d(-1, -0.00289, 0, 0, 0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00289, 0, 0, 0.00289, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  94.736842% {
    -webkit-transform: matrix3d(-1, -0.0028, 0, 0, 0.0028, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.0028, 0, 0, 0.0028, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  95.614035% {
    -webkit-transform: matrix3d(-1, -0.00266, 0, 0, 0.00266, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00266, 0, 0, 0.00266, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  96.491228% {
    -webkit-transform: matrix3d(-1, -0.00247, 0, 0, 0.00247, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00247, 0, 0, 0.00247, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  97.368421% {
    -webkit-transform: matrix3d(-1, -0.00225, 0, 0, 0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00225, 0, 0, 0.00225, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  98.245614% {
    -webkit-transform: matrix3d(-1, -0.00203, 0, 0, 0.00203, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.00203, 0, 0, 0.00203, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  99.122807% {
    -webkit-transform: matrix3d(-1, -0.0018, 0, 0, 0.0018, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, -0.0018, 0, 0, 0.0018, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}