.controlesPlayer {
  position: fixed;
  /* right: 30%; */
  -webkit-box-shadow: 0px -7px 29px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -7px 29px -2px rgba(0,0,0,0.75);
  box-shadow: 0px -7px 29px -2px rgba(0,0,0,0.75);
  /* text-align: center; */
  z-index: 99999999999999999999999;
  color: #FFFFFF;
  width: 100%;
  height: 30px;
  padding: 10px;
  bottom: 58px;
  background-color: rgb(5, 5, 5);
}
.wsContenido {
  overflow: auto;
}
.BotoneraOnboard {
  padding-top: 10px;
}
div#controles {
  position: relative;
  top: -20px;
  right: 20px;
}
.tab-bar{
  top: 40px;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  border-bottom: 4px solid rgb(201, 40, 46);
}
.progress {
  height: 10px;
  background-color: #272727;
  position: absolute;
  right: 0px;
  width: 100%;
  z-index: 999999999999999;
  cursor: pointer;
  top: 41px;
}
#segundos
{
	float:left;
}  
#bar
{
	float:left;
}  
 
.videoHTML5
{
	width:100%;
	height:auto; 
}
.controlvideo {
  margin-left: 20px;
  font-size: x-large;
  color: rgb(232, 232, 232);
}
span.timeBar {
  background-color: rgb(239, 239, 239);
}
span.bufferBar {
  background-color: rgb(34, 34, 34);
}