.acelerationX {
  color: rgb(64, 64, 64);
  left: 10px;
  position: relative;
  top: 29px;
}
#gps-signal {
  color: #FFF;
  left: 0;
  position: absolute;
  text-align: center;
  top: 56px;
  width: 100%;
}
#chart
{
  -webkit-box-shadow: -2px 0px 36px -13px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 0px 36px -13px rgba(0,0,0,0.75);
box-shadow: -2px 0px 36px -13px rgba(0,0,0,0.75);

}
.longuitud{

    position: absolute;
  font-size: 24px;
  color: #fff;
  z-index: 99999;
  top: 85%;
  left: 8%;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;

}
section#speed {
  position: absolute;
  top: 117px;
  width: 100%;

  font-family: sans-serif;
    color: white;
}
span.units {
  font-size: xx-large;
  position: relative;
  top: -43px;
    color: white;
}
span.val {
  font-size: 121px;
  top: -20px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
  position: relative;
    color: white;
}
#gps-bars {
  display: inline-block;
}

#gps-bars div {
  background: #ccc;
  display: inline-block;
  height: 13px;
  margin: 0 1px;
  width: 3px;
}

#gps-bars.one #bar1,
#gps-bars.two #bar1,
#gps-bars.two #bar2,
#gps-bars.three #bar1,
#gps-bars.three #bar2,
#gps-bars.three #bar3 {
  background: #00ff00;
}

#gps-message {
  display: inline-block;
  font-size: 11px;
  padding: 3px 0 0;
  vertical-align: top;
}
.acelerationY {
  color: rgb(64, 64, 64);
  left: 10px;
  position: relative;
  top: 29px;
}
.telemetriaStartMensaje {
  z-index: 99999;
  color: aliceblue;
  position: absolute;
  top: 28%;
  left: 25%;
}
.telemetriaStartStop {
  z-index: 99999;
  color: aliceblue;
  position: absolute;
  top: 28%;
  left: 25%;
}
.contenedorCanvasG {
  position: relative;
  top: -4px;

  height: 85px;
}
.telemetriaStart {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  filter:alpha(opacity=80);
   opacity:0.8;
}
#canvasGforce
{
  background-color: #fff;
 background-image: url(../img/backGforce.png);
}
canvas#gforce {
  width: 200px;
  height: 200px;
}
.fuerzag {
  color: rgb(64, 64, 64);
  left: 10px;
  position: relative;
  top: 29px;
}
i.fa.fa-compass {
  font-size: 71px;
    color: white;
}
.acelerationZ {
  color: rgb(64, 64, 64);
  left: 10px;
  position: relative;
  top: 29px;
}
.kmh {
  position: absolute;
  font-size: 125px;
  color: #fff;
  font-family: sans-serif;
  z-index: 99999;
  top: 26%;
  width: 100%;
  left: 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
  /* background-color: antiquewhite; */
}
.lattext {
  position: absolute;
  top: 77%;
 right: 5%;
   color: white;
}
.alttext {
  position: absolute;
  top: 17%;
  left: 5%;

}
.alt {
  position: absolute;
  font-size: 14px;
  color: #fff;
  z-index: 99999;
  top: 25%;
  left: 5%;
}
.longtext {
  position: absolute;
  top: 77%;
   color: white;
    left: 5%;
}
.kmhs {
  position: absolute;
  top: 68%;
  left: 41%;
  font-size: 24px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}
.black{
  color:#838383;
}
.lat {
  position: absolute;
  font-size: 24px;
  color: #fff;
  z-index: 99999;
  top: 85%;
  right: 5%;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}
.rum {
  position: absolute;
  font-size: 24px;
  color: #fff;
  z-index: 99999;
  top: 25%;
  right: 5%;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}
.Rumtext {
  position: absolute;
  top: 17%;
 right: 5%;
   color: white;
}	
.long {
  position: absolute;
  font-size: 24px;
  color: #fff;
  z-index: 99999;
  top: 85%;
  left: 5%;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.circ {
  background-image: url("../img/speedometer.png");
  width: 237px;
  height: 208px;
  radius: 50%;
  /* width: 100px; */
  /* height: 100px; */
  -moz-border-radius: 50%;
  /* -webkit-border-radius: 50%; */
  /* border-radius: 50%; */
  top: 18%;
  left: 19%;
  position: absolute;
  /* border: 2px solid #555; */
  /* opacity: .75; */
  -moz-opacity: .55;
  filter: alpha(opacity=55);
}





.t-left,
.t-middle,
.t-right {
  display: inline-block;
}

.t-left {
  width: 40%;
}

.t-middle {
  width: 10%;
  text-align: center;
}

.t-middle__time {
  font-size: 18px;
}

.t-right {
  width: 40%;
  text-align: right;
}

.t-right__baterry-percentage {
  font-size: 18px;
}

.t-right__baterry__ext {
  position: relative;
  display: inline-block;
  height: 16px;
  width: 40px;
  border: 1px solid #FFF;
  -webkit-border-radius: 2px;
}

.t-right__baterry__int {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 12px;
  width: 24px;
  background: #FFF;
  -webkit-border-radius: 1px 0 0 1px;
}

.t-right__baterry__right {
  position: absolute;
  top: 3px;
  right: -5px;
  height: 7px;
  width: 3px;
  background: #FFF;
  -webkit-border-radius: 0 2px 2px 0;
}
/* =============================
   COMPASS
   ============================= */

.t-compass {
  width: 500px;
  height: 450px;
  margin: 80px 0 0;
  position: relative;
}

.t-cross--big,
.t-cross--small {
  position: absolute;
  margin: 0;
}
/** ----- BIG CROSS ----- */

.t-cross--big {
  width: 180px;
  height: 180px;
  -webkit-transform: translate(160px, 110px);
}

.t-cross--big__line {
  width: 180px;
  height: 2px;
  background: rgba(255, 255, 255, .4);
  position: absolute;
}

.t-cross--big__line.vertical {
  -webkit-transform: rotate(90deg) translate(50%, 0);
}

.t-cross--big__line.horizontal {
  -webkit-transform: translate(0, 89px);
}
/** ----- SMALL CROSS ----- */

.t-cross--small {
  width: 140px;
  height: 140px;
  -webkit-transform: translate(210px, 195px);
}

.t-cross--small__bg-circle {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, .2);
  -webkit-border-radius: 70px;
  -webkit-transform: translate(-50%, -50%);
}

.t-cross--small__line {
  width: 40px;
  height: 2px;
  background: rgba(255, 255, 255, .8);
  position: absolute;
  top: 0;
  left: 0;
}

.t-cross--small__line.vertical {
  -webkit-transform: rotate(90deg) translate(0, 20px);
}

.t-cross--small__line.horizontal {
  -webkit-transform: translate(-50%, 0);
}

.t-compass__lines-container {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(90px, 40px);
}

.t-compass__line {
  width: 30px;
  height: 1px;
  background: rgba(255, 255, 255, .4);
  position: absolute;
}

.t-compass__line.is-bold {
  height: 2px;
  background: rgba(255, 255, 255, .8);
}

.t-compass__line.is-bold--black {
  background: rgba(0, 0, 0, 1);
}

.t-point {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 26px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.t-triangle {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 18px solid #FC0D0D;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 10px solid transparent;
}

.t-degree {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  color: rgba(255, 255, 255, .8);
}

.t-complete {
  position: absolute;
  width: 282px;
  height: 282px;
  top: 0px;
  left: 0px;
  border: 1px solid #FC0D0D;
  border-color: #FC0D0D transparent transparent transparent;
  border-width: 40px;
  -webkit-border-radius: 150px/145px;
  -webkit-transform: translate(19px, 19px) rotate(45deg);
}

.t-vertical--big {
  position: absolute;
  width: 6px;
  height: 60px;
  background: rgba(255, 255, 255, 1);
  -webkit-transform: translate(157px, -46px);
}

.t-horizontal--small {
  position: absolute;
  width: 50px;
  height: 2.5px;
  background: rgba(255, 255, 255, 1);
  -webkit-transform: translate(305px, 159px);
}
/* =============================
   DETAILS
   ============================= */

.t-details {
  padding: 10px 40px;
}

.t-degrees {
  vertical-align: top;
  font-size: 148px;
  line-height: 80px;
  font-weight: 100;
  letter-spacing: -5px;
}

.t-degrees--bubble {
  vertical-align: top;
  font-size: 60px;
  line-height: 28px;
  margin-left: 5px;
}

.t-position {
  display: inline-block;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
div#owl-demo {
  position: absolute;
  bottom: 30px;
  color: aquamarine;
  width: 100%;
  height: 200px;
}
.t-position span {
  display: block;
  font-size: 26px;
  line-height: 40px;
}

.t-position span:first-child {
  font-weight: 600;
}

.t-pos-degrees {
  padding: 30px 0 10px;
  text-align: center;
}

.t-pos-degrees span {
  font-size: 30px;
}

.t-switch {
  text-align: center;
}

.t-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, .3);
  -webkit-border-radius: 10px;
}

.t-circle.is-selected {
  background: rgba(255, 255, 255, 1);
}