<section class="clima" style="display:none">
<div class="bar barColor" style="z-index:99">
<a href="#home" class="atras">
<i class="fa fa-chevron-left">
</i>
<span tkey="22">Atrás</span>
</a>
<div class="loader2" style="display:none"></div>
</div>
<div class="wrapper shadow">
  <div class="top">
    <div class="btn noselect" id="btn">F</div>
    <img id="big" src="" alt="">
    <p id="deg" class="text deg"></p>
    <input class="text" type="text" id="city" value="">
  </div>
  <div class="bot">

      <div class="Sol"><div class="sunmoon">
    <span class="tituloSOL"><span tkey="23">SOL</span></span>
    <div class="sun-times">
        <div class="sun-path">
            <div class="sun-animation"></div>
        </div>
        <div class="sun-symbol-path"><span class="symbol"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="80px" height="80px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" d="M71.997,51.999h-3.998c-1.105,0-2-0.895-2-1.999s0.895-2,2-2h3.998
  c1.105,0,2,0.896,2,2S73.103,51.999,71.997,51.999z M64.142,38.688c-0.781,0.781-2.049,0.781-2.828,0
  c-0.781-0.781-0.781-2.047,0-2.828l2.828-2.828c0.779-0.781,2.047-0.781,2.828,0c0.779,0.781,0.779,2.047,0,2.828L64.142,38.688z
   M50.001,61.998c-6.627,0-12-5.372-12-11.998c0-6.627,5.372-11.999,12-11.999c6.627,0,11.998,5.372,11.998,11.999
  C61.999,56.626,56.628,61.998,50.001,61.998z M50.001,42.001c-4.418,0-8,3.581-8,7.999c0,4.417,3.583,7.999,8,7.999
  s7.998-3.582,7.998-7.999C57.999,45.582,54.419,42.001,50.001,42.001z M50.001,34.002c-1.105,0-2-0.896-2-2v-3.999
  c0-1.104,0.895-2,2-2c1.104,0,2,0.896,2,2v3.999C52.001,33.106,51.104,34.002,50.001,34.002z M35.86,38.688l-2.828-2.828
  c-0.781-0.781-0.781-2.047,0-2.828s2.047-0.781,2.828,0l2.828,2.828c0.781,0.781,0.781,2.047,0,2.828S36.641,39.469,35.86,38.688z
   M34.002,50c0,1.104-0.896,1.999-2,1.999h-4c-1.104,0-1.999-0.895-1.999-1.999s0.896-2,1.999-2h4C33.107,48,34.002,48.896,34.002,50
  z M35.86,61.312c0.781-0.78,2.047-0.78,2.828,0c0.781,0.781,0.781,2.048,0,2.828l-2.828,2.828c-0.781,0.781-2.047,0.781-2.828,0
  c-0.781-0.78-0.781-2.047,0-2.828L35.86,61.312z M50.001,65.998c1.104,0,2,0.895,2,1.999v4c0,1.104-0.896,2-2,2
  c-1.105,0-2-0.896-2-2v-4C48.001,66.893,48.896,65.998,50.001,65.998z M64.142,61.312l2.828,2.828c0.779,0.781,0.779,2.048,0,2.828
  c-0.781,0.781-2.049,0.781-2.828,0l-2.828-2.828c-0.781-0.78-0.781-2.047,0-2.828C62.093,60.531,63.36,60.531,64.142,61.312z"/>
</svg></span></div>
    </div>
    <div class="legend">
        <div class="sunrise">05:30 AM</div>
        <div class="sunset">8:04 PM</div>
    </div>
    <div class="clear">&nbsp;</div>
</div></div>

    <div class="vientos"><span tkey="24">VIENTO</span></div>

    <ul>
      <li class="spc">
        <h1 id="forecast0"></h1>
        <img id="forecastimg0" src=""></img>
        <p id="forecastdeg0"></p>
      </li class="spc">
      <li>
        <h1 id="forecast1"></h1>
        <img id="forecastimg1" src=""></img>
        <p id="forecastdeg1"></p>
      </li>
      <li class="spc">
        <h1 id="forecast2"></h1>
        <img id="forecastimg2" src=""></img>
        <p id="forecastdeg2"></p>
      </li>
      <li class="spc">
        <h1 id="forecast3"></h1>
        <img  id="forecastimg3" src=""></img>
        <p id="forecastdeg3"></p>
      </li>
    </ul>


  </div>
</div>
</section>