  <div align="center" class="info" >
                                          <center>
                                              <img src="" width="171" id="logo" border="0" class="logo" />
                                              <div id="nameEvent"></div>
                                              <div id="nameUser"></div>
                                              <small>
                                                  <div id="nameMedio"></div>
                                              </small>
                                          </center>
                                      </div>
                                  </div>
                                  <div class="cuerpo">
                                      <div  class="botonHash menu" rel="da">
                                      </a>
                                      <div  class="botonHash menu" id="dinamicas"  style="display:none" rel="dinamicas">
                                          <div class="textMenu">
                                              <i class="fa fa-picture-o"></i>
                                              <span class="marg">
                                                  <span tkey="1"> Galerías</span>
                                              </span>
                                          </div >
                                          <small class="textMenuSub">
                                              <span id="contadorDinamicas" class=""></span>
                                              <span tkey="9"> imágenes dinámicas</span>
                                              <span id="contadorEstaticas" class=""></span>
                                              <span tkey="10"> estáticas</span>
                                          </small>
                                          <i class="fa fa-chevron-right m"></i>
                                      </div>
                                      <div class="botonHash menu" id="videos"  style="display:none" rel="videos">
                                          <div class="textMenu">
                                              <i class="fa ico fa-file-video-o"></i>
                                              <span class="marg">
                                                  <span tkey="2"> Vídeos</span>
                                              </span>
                                          </div >
                                          <small class="textMenuSub">
                                              <span id="contadorVideos"></span> vídeos
                                          </small>
                                          <i class="fa fa-chevron-right m"></i>
                                      </div>
                                      <div class="botonHash menu" id="tecnicas" style="display:none"  rel="tecnicas">
                                          <div class="textMenu">
                                              <i class="fa ico fa-car"></i>
                                              <span class="marg">
                                                  <span tkey="3">Coches disponibles</span>
                                              </span>
                                          </div >
                                          <small class="textMenuSub">
                                              <span id="contadorCoches"></span>
                                              <span tkey="11"> coches</span>
                                          </small>
                                          <i class="fa fa-chevron-right m"></i>
                                      </div>
                                      <div class="botonHash menu" id="reservas" style="display:none"  rel="reservas">
                                          <div class="textMenu">
                                              <i class="fa ico fa-calendar"></i>
                                              <span class="marg">
                                                  <span tkey="4">Reservas</span>
                                              </span>
                                          </div >
                                          <small class="textMenuSub">
                                              <span tkey="12">Sus reservas a la vista</span>
                                          </small>
                                          <i class="fa fa-chevron-right m"></i>
                                      </div>
                                      <div class="botonHash menu" id="waypoints" style="display:none" rel="waypoints">
                                          <div class="textMenu">
                                              <i class="fa ico fa-map-marker"></i>
                                              <span class="marg">
                                                  <span tkey="5"> Waypoints</span>
                                              </span>
                                          </div >
                                          <small class="textMenuSub" id="way">
                                              <span tkey="13">puntos de interés</span>
                                          </small>
                                          <i class="fa fa-chevron-right m"></i>
                                      </div>
                                      <div class="botonHashHash menu" id="roadbooks" style="display:none" rel="roadbook">
                                          <div class="textMenu">
                                              <i class="fa ico  fa-location-arrow"></i>
                                              <span class="marg">
                                                  <span tkey="6"> Roadbooks</span>
                                              </span>
                                          </div >
                                          <small class="textMenuSub" id="road">
                                              <span id="contadorKML"></span>
                                              <span tkey="19"> rutas GPS </span>
                                          </small>
                                          <i class="fa fa-chevron-right m"></i>
                                      </div >
                                      <div class="botonHash menu" id="clima" style="display:none" rel="clima">
                                          <div class="textMenu">
                                              <i class="fa ico fa-sun-o"></i>
                                              <span class="marg">
                                                  <span tkey="7"> Meteorología</span>
                                              </span>
                                          </div >
                                          <small class="textMenuSub" id="vel">
                                              <span id="clima"></span>
                                              <span tkey="20"> El clima en tiempo real</span>
                                          </small>
                                          <i class="fa fa-chevron-right m"></i>
                                      </div>
                                      <div class="botonHash menu" id="telemetria" style="display:none" rel="telemetria">
                                          <div class="textMenu">
                                              <i class="fa ico fa-tachometer"></i>
                                              <span class="marg">
                                                  <span tkey="8"> Telemetria</span>
                                              </span>
                                          </div >
                                          <small class="textMenuSub" id="vel">
                                              <span id="velocidad"></span>
                                              <span tkey="21">Bate tu record!</span>
                                          </small>
                                          <i class="fa fa-chevron-right m"></i>
                                      </div>
                                      <div class="menuBar"></div>
                                      <div id="descripcion"></div>
                                  </div>
                                  <!-- cuerpo -->
                              </section>
                              <section class="contenido" style="display:none">
                                  <div class="bar barColor" style="z-index:99">
                                      <a href="#home" class="atras">
                                          <i class="fa fa-chevron-left"></i>
                                          <span tkey="22">Atrás</span>
                                      </a>
                                      <div class="loader2" style="display:none"></div>
                                  </div>
                                  <div class="contenidoCOnten">
                                      <div class="wsContenido"></div>
                                  </div>
                              </div>