 <section id="idioma" class="idiomaSelector" style="background-image:url(img/SPLASH.jpg); background-size:cover">
            <div id="Saludos" class="Saludos">
            <center>Hola!

            <br>Bonjour!

              <br>Hello!

                  <br>Hallo!

                      <br>ПРИВЕТ!

                      </center>
                  </div>
                  <div class="idm es" rel="es">
                      <i class="fa fa-chevron-left"></i> Español
                  </div>
                  <div class="idm en" rel="en">English 
                      <i class="fa fa-chevron-right"></i>
                  </div>
</section>