           
              <section class="splash" id="login" >
                  <div class="version">1.0.0 beta developer </div>
                  <div class="loader" id="cargador"></div>
                  <div id="conexion">
                      <center>
                          <div class="btn">
                              
                              <div class="fromlogin" style="display: none;" >
                                  <div id="resultLogin" ></div>
                                  <input name="username" id="username" placeholder="username" value="" type="text">
                                      <input name="password" id="password" placeholder="password" value="vistadiferent" type="password">
                                          <a href="#loginHome">
                                              <div class="BtonLoginSumit btnHome" style="color:#696969">
            Login 
                                                  <i class="fa fa-chevron-right"></i>
                                              </div>
                                          </a>
                                      </div>
                                      <a href="#loginHome">
                                          <div class="BtonLogin btnHome" style="color:#696969">
                                              <span tkey="15"> Identifícate</span>
                                              <i class="fa fa-chevron-right"></i>
                                          </div>
                                      </a>
                                      <div class="BtonInvitado btnHome">
                                          <span tkey="16"> Entrar sin identificarte</span>
                                          <i class="fa fa-chevron-right"></i>
                                      </div>
                                  </div>
                                <div id="countdown" style="  display:none;"></div>
                                  </center>
                              </div>  <div class="texloading">
                                      <span tkey="14">  Vive la máxima experiencia estés donde estés. Ahora va contigo.</span>
                                      <br>
                                      </div>
                              <div id="noconexion" style="display:none">
                                  <center>
                                      <i class="fa fa-plug"></i>
                                      <br>
                                          <span tkey="17">Sin conexión a Internet, imposible continuar.</span>
                                          <br>
                                              <small style="font-size:15px">
                                                  <span tkey="18">Intentando de nuevo...</span>
                                              </small>
                                          </center>
                                      </div>
                                  </section>