<section class="telemetria" style="display:none">
<div class="bar barColor" style="z-index:99">
<a href="#home" class="atras">
<i class="fa fa-chevron-left">
</i>
<span tkey="22">Atrás</span>
</a>
<div class="loader2" style="display:none"></div>
</div>

<div class="wrapper shadow">

  <div class="top">
  
    <div class="kmh">100</div><div class="loaderEFectp" style="display:"></div>
     <div class="kmhs">km/h</div>
       <div class="lattext">latitud
  </div><div class="Rumtext">Rumbo
  </div> <div class="rum">0
  </div>
  <div class="alttext">Altitud
  </div> <div class="alt">0
  </div>
       <div class="lat">0
  </div>  <div class="longtext">longitud
  </div>
     <div class="long">0
  </div>
  </div>
  <div class="bot" >

     <div class="acelerationX">0
  </div>
   <div class="acelerationY">0
  </div>
   <div class="acelerationZ">0
  </div>
    <div class="fuerzag" >0
  </div>
 <div class="dis" id="dis" >0
  </div>
  </div>


</div>
</section>